* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

:root {
    --primary-color: #e76f51;
    --background-dark: #1c1c2b;
    --background-medium: #262637;
    --text-light: #ffffff;
}

body {
    width: 100%;
    margin: 0;
    background-color: var(--background-dark);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--text-light);
}

.content-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 30px;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.content-item {
    transition: transform 0.3s ease;
    outline: 2px solid transparent;
    outline-offset: 5px;
}

.content-item.focused {
    transform: scale(1.05);
    outline-color: var(--primary-color);
}

.content-item {
    background-color: var(--background-medium);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.content-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(231, 111, 81, 0.5);
}

.content-item img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.content-item img:hover {
    transform: scale(1.05);
}

.content-item-title {
    color: var(--text-light);
    padding: 8px;
    text-align: center;
    font-size: 0.9rem;
}

h1 {
    text-align: center;
    color: var(--primary-color);
    padding: 2rem;
    font-size: 3rem;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 0 15px;
}

#busqueda {

    width: 100%;
    max-width: 800px;
    padding: 15px;
    margin: 0 auto 2rem;
    border: 2px solid var(--primary-color);
    border-radius: 12px;
    background-color: var(--background-medium);
    color: var(--primary-color);
    font-size: 1.2rem;
    transition: border-color 0.3s, box-shadow 0.3s;
}
#busqueda:focus {
    outline: none;
    box-shadow: 0px 0px 8px #ff5656;
}
#main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 25px;
    flex-grow: 1;
    margin: 1rem auto;
    width: 100%;
    max-width: 1200px;
}

.anime-card {
    background-color: var(--background-medium);
    border-radius: 12px;
    box-shadow: 0 6px 10px rgba(0,0,0,0.5);
    padding: 15px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    outline: none;
    max-width: 200px;
}
@media screen and (hover:hover) {
    .anime-card:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 15px rgba(0,0,0,0.6);
    }
    .anime-card button:hover {
        transform: scale(1.03);
    }
}
.anime-card img {
    max-width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s;
}
.anime-card iframe {
    max-width: 100%;
    width: 100%;
}
strong {
    color: #fff;
    min-height: 2.2rem;
    max-height: 2.2rem;
    display: block;
    margin: .8rem;
    overflow: hidden;
}
.anime-card button {
    width: 100%;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: var(--text-light);
    border: none;
    padding: 15px;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

.anime-card button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

/* Estilos específicos para anime.html */
.anime-details {
    display: flex;
    align-items: start;
    gap: 30px;
    max-width: 1000px;
    max-height: 700px;
    margin: 2rem auto;
    padding: 20px;
    background-color: #262637;
    border-radius: 10px;
    overflow: hidden;
}

.anime-container {
    flex: 1;
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    align-items: center;
    background-color: #1f1f33;
    border-radius: 10px;
}
.anime-container img {
    border-radius: 10px;
    aspect-ratio: 1/1;
    object-fit: cover;
    height: auto;
    width: 100%;
    max-height: 140px;
}
.anime-description {
    line-height: 1.6;
    color: #ffffff;
    margin: 15px auto;
    text-align: justify;
    height: 22rem;
    overflow: scroll;
    scrollbar-width: none;
}
.anime-info {
    flex: 1;
    background-color: #1f1f33;
    border-radius: 10px;
}

.anime-title {
    font-size: 2em;
    color: #ffffff;
    display: flex;
    align-items: center;
    min-height: 140px;
    max-height: 140px;
}





.episodes-list {
    margin: 15px auto;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 15px;
    height: 22rem;
    overflow-y: auto;
    width: 100%;
}

.episode-btn {
    background-color: #ff5656;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    min-width: 100PX;
    cursor: pointer;
    transition:transform 0.2s;
}
@media screen and (hover:hover) {
.episode-btn:hover {
    transform: scale(1.02);
}
}

footer {
    padding: 10px;
    color: #555;
    text-align: right;
    margin-top: auto;
    font-size: .8rem;
}
@media (max-width: 1024px) {
    body {
        padding: 1rem;
    }
    .anime-details {
        flex-direction: column;
        padding: 10px;
    }
    #main {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 15px;
    }
    .anime-details {
        max-height: fit-content;
    }
    
}

#controles {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 15px 0;
}
#controles button {
    background-color: #ff5656;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}

@media screen and (hover:hover) {
    #controles button:hover {
        transform: scale(1.02);
    }
}

.reproductor-container {
    padding: 15px;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
    width: 90%;
    max-width: 1600px;
    background-color: #262637;
    border-radius: 10px;
}

.reproductor-container #video iframe {
    width: 100%;
    height: 70vh;
    border-radius: 10px;
}
