body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 101vh;
    background-image: inherit;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: blur(10px) brightness(0.8);
    transform: scale(1.1);
    z-index: -2;
  }

body {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-blend-mode: overlay;
    position: relative;
  }

body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 101vh;
    background: linear-gradient(to bottom, transparent 0%, #1c1c2b 90%, #13131b 100%);
    pointer-events: none;
    z-index: -2;
  }
header {
  background: linear-gradient(to bottom, transparent 0%, transparent);
}
#busqueda {
    background-color: #00000011;
}

h2 {
    font-size: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-height: fit-content;
    text-shadow: 2px 2px 10px #000a;
}

  .anime-details {
    display: grid;
    grid-template-columns: 28% 1fr;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
    "container1 container2"
    "container1 container3";
    gap: 20px;
    margin: 0 auto;
    padding: 0 50px 40px 50px;
    width: 100%;
    height: calc(100dvh - 120px);
  }
@media screen and (max-height:600px) and (min-width:600px){
  .anime-details {
    height: 100vh;
  }
}
  .anime-container1 {
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1c1c2b;
    border-radius: 5px;
    padding: .6rem;
    max-height: fit-content;
    justify-content: space-between;
    grid-area: container1;
    position: relative;
  }
  
  .anime-container1 img {
    border-radius: 5px;
    width: 100%;
    height: auto;
    max-height: 70%;
    object-fit: contain;
  }
  
  .botones {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
      "fav fav"
      "estado progreso";
    gap: 10px;
    margin-top: 10px;
    width: 100%;
  }
  
  .botones button {
    cursor: pointer;
    padding: 10PX;
    border-radius: 5px;
    border: none;
    color: #fff;
    transition: background 0.3s ease;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
  }

  #btn-fav {
    grid-area: fav;
    background: #5a131a;
    transition: background 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }

  #btn-fav.favorito {
    background: #fb3447; 
  }
  #btn-fav.favorito::before {
    content: url('../icons/star-solid.svg');
    width: 16px;
    height: 15px;
    display: block;
    
  }
  #btn-estado {
    grid-area: estado;
    transition: background 0.3s ease;
    background: #6c757d;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:4px;
    max-width: 100%;
    padding-inline: 5px;
    }
#btn-estado:hover {
    opacity: 1;
    }
  /* Estados del botón */
  #btn-estado.estado-default {
    background: #6c757d; 
  }

  #btn-estado.estado-viendo {
    background: #22cee9;
  }
  #btn-estado.estado-viendo::after {
    content: url('../icons/eye-solid.svg');
    width: 17px;
    height: 17px;
    display: block;
    filter: invert(100%);
  }

  #btn-estado.estado-pendiente {
    background: #ffc107;
  }
  #btn-estado.estado-pendiente::after {
    content: url('../icons/clock-solid.svg');
    width: 17px;
    height: 17px;
    display: block;
    filter: invert(100%);
  }

  #btn-estado.estado-completado {
    background: #00c853;
  }

  #btn-estado.estado-completado::after {
    content: url('../icons/circle-check-solid.svg');
    width: 17px;
    height: 17px;
    display: block;
    
  }
  #btn-progreso {
    grid-area: progreso;
    background: #6c757d;
    position: relative;
    --progreso-text: "0%";
    --progreso: 0;
  }
#progreso {
    position: absolute;
    inset: 0;
    width: calc(var(--progreso) * 1%);
    height: 100%;
    background-color: #59b2ff;
    border-radius: 5px;
    overflow: hidden;
}
#progreso-text::before {
  content: var(--progreso-text);
    position: absolute;
    inset: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
  .anime-container2 {
    justify-content: start;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    grid-area: container2;
    align-items: center;
    padding-inline: 1rem;
  }

  .info1 {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    position: relative;
    gap: 10px;
  }

  .anime-title {
    color: #e76f51;
    font-size: 1.8rem;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: fit-content;
    color:#e76f51;
    min-height: fit-content;
    z-index: 1;
  }
  .genero {
    display: flex;
    width: 50%;
    gap: 5px;
    justify-content: end;
    flex-wrap: wrap;
    overflow: hidden;
    max-height: 25px;
  }
  .genero button {
    background-color: #1c1c2bb6;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    font-size: .8rem;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    user-select: none;
  }

  @media screen and (max-width:800px){
    .info1 {
      flex-direction: column;
      gap: 5px;
    }
    .genero {
      width: 100%;
      flex-wrap: wrap;
      gap: 5px;
      margin-bottom: 5px;
      justify-content: start;
       max-height: fit-content;
    }
    .anime-title {
      margin-bottom: 0;
      width: 100%;
    }
  }
  #estado::before {
    content: "";
    background-color: #0006;
    filter: blur(5px);
    box-shadow: 0 0 30px 1px #0006;
    width: 140%;
    height: 140%;
    top: 0;
    right:-5%;
    border-radius: 4px;
    position: absolute;
    z-index: -1;
  }
  #estado.status-emision {
    color: #74ff92;
  }

  #estado.status-finalizado {
    color: #ff0000;
  }

  #estado.status-otro {
      color: gray;
  }
  .anime-description {
    color: #fff;
    overflow-y: auto;
    scrollbar-width: none;
}
    
  .anime-container3 {
    grid-area: container3;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border-radius: 5px;
    padding: 1rem;
    gap: 1rem;
    background-color: #202031;
  }
  .header-caps {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: fit-content;
  }
  .anime-container3 span {
    color: #e76f51;
    font-size: 1.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: fit-content;
    color:#e76f51;
    font-weight: bold;
  }
.search-caps {
    width: 30%;
}
#filtro-capitulo {
    width: 100%;
    padding: 5%;
    border: 1px solid #fa7171;
    border-radius: 8px;
    background-color: #262637;
    color: #ffffff;
    font-size: .8rem;
    transition: border-color 0.3s, box-shadow 0.3s;
}
#filtro-capitulo:focus {
    outline: none;
    box-shadow: 0px 0px 3px #ff5656;
}
.episodes-list {
    grid-area: episodios;
    margin:auto;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
    max-height: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
}

/* Para navegadores WebKit (Chrome, Safari) */
.episodes-list::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}

.episodes-list::-webkit-scrollbar-track {
    background: transparent;
}

.episodes-list::-webkit-scrollbar-thumb {
    background-color: rgba(255, 86, 86, 0.5);
    border-radius: 20px;
    border: 2px solid transparent;
    background-clip: content-box;
}

.episodes-list li {
    width: 100%;
    display: flex;
    flex:1;
    min-height: 60px;
}
.episode-btn {
  background-color: transparent;
  border:none;
  border-top: 1px solid #fa7171;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  transition: transform 0.2s;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-inline: 15px;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
}

.icon-eye {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.ep-visto .icon-eye {
  filter: invert(50%) sepia(71%) saturate(653%) hue-rotate(326deg) brightness(97%) contrast(90%);
}
.ep-no-visto .icon-eye {
  filter: invert(60%)
}
@media screen and (hover:hover) {
.episode-btn:hover {
    color: #fa7171;
    opacity: .8;
}
}
#btn-search-capitulo, #btn-close-search-capitulo {
    display: none;
}

  @media screen and (max-width:700px){
    #btn-login {
      box-shadow: 0 0 0 transparent;
  }
    .anime-details {
        padding: 10px 15px 15px 15px;
        grid-template-columns:1fr 2fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: 
        "container1 container2"
        "container3 container3";
        max-height: fit-content ;
    }
    .anime-container1 {
        padding: 0;
        max-height: fit-content;
        width: 100%;
        background: transparent;
    }
    .anime-container1 img {
        width: 100%;
        height: auto;
    }
    .botones {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "fav"
        "estado"
        "progreso";
    }
    .anime-container2 {
        width: 100%;
        padding: 0;
        max-height: var(--altura-container-1);
    }
    .anime-title {
      font-size: 1.5rem;
    }

    .anime-container3 {
        width: 100%;
        max-height: 500px;
    }
   }
/* Ocultar botones por defecto */
#btn-search-capitulo,
#btn-close-search-capitulo {
  display: none;
}

@media screen and (max-width: 600px) {
  /* Mostrar botones en móvil */
  #btn-search-capitulo,
  #btn-close-search-capitulo {
    display: block;
  }

  .header-caps {
    position: relative;
    overflow: hidden;
  }

  /* Elementos normales */
  .header-caps span,
  #btn-search-capitulo {
    transition: transform 0.2s;
    transform: translateY(0);
  }

  /* Cuando se activa búsqueda */
  .header-caps.search-active span,
  .header-caps.search-active #btn-search-capitulo {
    transform: translateY(-100px);
  }
.header-caps {
  overflow: visible;
}
  /* Caja de búsqueda */
  .header-caps .search-caps {
    position: absolute;
    width: 100%;
    height: 130%;
    display: flex;
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    will-change: transform;
  }

  .header-caps.search-active .search-caps {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  /* Estilo botón cerrar */
  #btn-close-search-capitulo {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 10px;
  }

  #btn-close-search-capitulo::before {
    content: '✕';
    color: #e76f51;
    font-size: 1.8rem;
    font-weight: bold;
  }

  /* Input */
  #filtro-capitulo {
    flex: 1;
    padding: 13px;
  }

  /* Botón lupa */
  #btn-search-capitulo {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #btn-search-capitulo::before {
    content: url('../icons/magnifying-glass-solid.svg');
    width: 24px;
    height: 24px;
    padding-left: 3px;
    filter: invert(50%) sepia(71%) saturate(653%) hue-rotate(326deg) brightness(97%) contrast(90%);
  }
}
